h1{
    padding-top: 200px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: gold;
}

#naming{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: tomato;
    text-align: center;
}

#naming2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: tomato;
    text-align: center;
}